
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-1: #D88E68;
    --color-2: #ffffff;
    --color-3: #24292e;
    --color-4: #3c444d;
}

body {
    width: 100%;
    padding: 30px;
    background-image: radial-gradient(var(--color-3), var(--color-4));
}

h1 {
    font-family: Karantina, cursive;
    letter-spacing: 2px;
    font-size: 52px;
    color: var(--color-2);
    padding: 0 0 20px 0;
    display: inline;

}

h2 {
    font-family: Karantina, cursive;
    letter-spacing: 4px;
    font-size: 45px;
    color: var(--color-2);
}

/* header elements */
nav ul li {
    display: inline;
    float:right;
    padding: 0 0 10px 50px;
    margin: 0 0 20px 0;
    font-family: Karantina, cursive;
    font-size: 28px;


}


nav ul li a {
    color: var(--color-2);
   display: inline;
   text-decoration: none;
   
}

/* Hero banner content */
.hero {
    background-image: linear-gradient(to right bottom, #D88E68, #28b48500), url(./Images/Indian-Valley.jpg);
    height: 50vh;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin: 30px 0 0 0;
   clip-path: polygon(0 0,100% 10vh, 100% 40vh, 0 100% );
}

.heading-primary{
    animation-name: moveInLeft;
    animation-duration: 1s;
}

.heading-sub {
    animation: moveInRight .8s;
    font-weight: lighter;
    font-family: Karantina, cursive;
    font-size: 28px;
    letter-spacing: 2px;
    color: var(--color-2);
    margin: 10px 0 10px 0;
    width: 300px;
}

button {
    background-color: var(--color-3);
    font-family: Karantina, cursive;
    color: var(--color-2);
    font-size: 28px;
    letter-spacing: 3px;
    padding: 10px;
    margin: 10px 0 10px 0;

}

.textbox {
    position: absolute;
    top: 50%;
    left: 20%;
    
    transform: translate(-50%, -50%);
}


/* Work section elements */

.work {
    margin: 100px 0 50px 0;
}


section article {
    display:inline-block;
    margin: 10px 10px 10px 10px;
    padding: 10px;
}

section article:hover {
    transform: scale(1.15);
}

.portfolio-content {
    clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);

}

.link-heading {
    font-family: Karantina, cursive;
    font-size: 32px;
    color: var(--color-2);
    text-align: center;
    letter-spacing: 2px;
}

.link-heading p {
    display:inline;
}


/* contact section */

.contact {
    margin: 50px 0 50px 0;
}

.contact h2 {
    margin: 20px 0 50px 0;
}

address a {
    color: var(--color-2);
}

@keyframes moveInLeft {

    0%{
        transform: translateX(-100px);
    }

    80%{
        transform: translateX(20px);
    }

    100%{
        transform: translateX(0);
    }

}

@keyframes moveInRight{

    0% {
        transform: translateX(100px);
        
    }

    80% {
        transform: translateX(-20px);
    }

    100% {
        transform: translateX(0);
    }



}

/* media for small screens */

@media screen and (max-width: 950px) {
    .textbox {
        left: 50%;

    } 
}
